<div class="p-2 font-bold text-modes-<%= mode.downcase %> border border-gray-200">
  <%= mode %>
</div>

<% chords.each_with_index do |chord_group, index| %>
  <%= render partial: "home/chord", locals: { chord: chord_group.primary_chord, mode:, chord_group: } %>
<% end %>
