<div class="flex flex-col" data-controller="home">
  <div id="synth-view" class="w-full grid grid-rows-1 grid-cols-12 gap-y-2">
    <% @keys.each do |key| %>
      <%= render partial: "home/syntakt_key", locals: { root: @key, key: key } %>
    <% end %>
  </div>
  <div id="piano-view" class="hidden w-full grid-rows-1 grid-cols-12 gap-y-2">
    <% @keys.each do |key| %>
      <%= render partial: "home/piano_key", locals: { root: @key, key: key } %>
    <% end %>
  </div>

  <div class="flex h-32 items-center p-2 border border-gray-200 font-sans text-center mt-10">
    <div id="chord-notes" class="flex text-3xl text-white mx-auto"></div>
  </div>

  <% if @key %>
    <div class="grid grid-cols-8 border mt-16">
      <% @chords.each do |mode, chords| %>
        <%= render partial: "home/mode_chords", locals: { mode:, chords:} %>
      <% end %>
    </div>

    <div class="flex items-center mt-4">
      <span class="items-center text-white">BPM</span>
      <input id="bpm" type="range" class="ml-4 bg-transparent text-gray-400 border border-gray-100" value="120" min="60" max="200" data-controller="progression" data-action="input->progression#updateBpm" />
      <span id="bpm-label" class="w-8 ml-4 items-center text-white">120</span>
      <span id="progression-controls" class="ml-4 text-3xl text-gray-400 hover:cursor-pointer" data-controller="progression" data-action="click->progression#playProgression"><i class="fas fa-play"></i></span>
      <span id="progression-help" class="hidden text-white ml-4">I need a chord first</span>
      <div class="ml-auto">
        <span class="underline-offset-2 underline text-white hover:cursor-pointer" data-controller="home" data-action="click->home#clearProgression">Clear progression</span>
        <span class="underline-offset-2 underline text-white hover:cursor-pointer" data-controller="home" data-action="click->home#addSilenceToProgression">Add silence</span>
      </div>
    </div>
    <div id="progression-container">
    </div>
  <% end %>
</div>
