<div class="flex flex-col" data-controller="home">
  <div id="synth-view" class="w-full grid grid-rows-1 grid-cols-12 gap-y-2">
    <% @keys.each do |key| %>
      <%= render partial: "home/syntakt_key", locals: { root: @key, key: key } %>
    <% end %>
  </div>
  <div id="piano-view" class="hidden w-full grid-rows-1 grid-cols-12 gap-y-2">
    <% @keys.each do |key| %>
      <%= render partial: "home/piano_key", locals: { root: @key, key: key } %>
    <% end %>
  </div>

  <div class="flex h-32 items-center p-2 border border-gray-200 font-sans text-center mt-10">
    <div id="chord-notes" class="flex text-3xl text-white mx-auto"></div>
  </div>

  <% if @key %>
    <div class="grid grid-cols-8 border mt-16">
      <% @chords.each do |mode, chords| %>
        <%= render partial: "home/mode_chords", locals: { mode:, chords:} %>
      <% end %>
    </div>

    <div id="progressionContainer">
    </div>
  <% end %>
</div>
